<?xml version="1.0" encoding="UTF-8"?>
<?include common.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="$(var.ProductName)" Version="$(var.Version)"
          Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)"
          IconSourceFile="$(var.SourceDir)/icons/app_icon.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="license.rtf" LogoFile="logo.png"/>
    </BootstrapperApplicationRef>

    <Variable Name="InstallFolder" Type="string" Value="[$(var.ProgramFilesFolder)]$(var.ProductShortName)\$(var.ProductName)" />

    <!-- Allow the program to be launched after installation. -->
    <Variable Name="LaunchTarget" Value="[InstallFolder]\powertabeditor.exe"/>

    <!-- Check for the VS2015 redistributable. -->
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vc\Servicing\14.0\RuntimeMinimum" Value="Version" Variable="vcredist" />

    <Chain>
      <!-- Windows Installer 4.5. Needed for installation on Windows XP. -->
      <ExePackage
          Cache="no"
          Compressed="no"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="redist\WindowsXP-KB942288-v3-x86.exe"
          DownloadUrl="http://download.microsoft.com/download/2/6/1/261fca42-22c0-4f91-9451-0e0f2e08356d/WindowsXP-KB942288-v3-x86.exe"
          InstallCondition="VersionNT=v5.1 AND NOT VersionNT64 AND VersionMsi &lt; v4.5"
          InstallCommand="/quiet /norestart">
        <ExitCode Behavior="forceReboot"/>
      </ExePackage>
      <ExePackage
          Cache="no"
          Compressed="no"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="redist\WindowsServer2003-KB942288-v4-x86.exe"
          DownloadUrl="http://download.microsoft.com/download/2/6/1/261fca42-22c0-4f91-9451-0e0f2e08356d/WindowsServer2003-KB942288-v4-x86.exe"
          InstallCondition="VersionNT=v5.2 AND NOT VersionNT64 AND VersionMsi &lt; v4.5"
          InstallCommand="/quiet /norestart">
        <ExitCode Behavior="forceReboot"/>
      </ExePackage>
      <ExePackage
          Cache="no"
          Compressed="no"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="redist\WindowsServer2003-KB942288-v4-x64.exe"
          DownloadUrl="http://download.microsoft.com/download/2/6/1/261fca42-22c0-4f91-9451-0e0f2e08356d/WindowsServer2003-KB942288-v4-x64.exe"
          InstallCondition="VersionNT=v5.2 AND VersionNT64 AND VersionMsi &lt; v4.5"
          InstallCommand="/quiet /norestart">
        <ExitCode Behavior="forceReboot"/>
      </ExePackage>
      <MsuPackage
          Cache="no"
          Compressed="no"
          Permanent="yes"
          Vital="yes"
          KB="KB942288"
          SourceFile="redist\Windows6.0-KB942288-v2-x86.msu"
          DownloadUrl="http://download.microsoft.com/download/2/6/1/261fca42-22c0-4f91-9451-0e0f2e08356d/Windows6.0-KB942288-v2-x86.msu"
          InstallCondition="VersionNT=v6.0 AND NOT VersionNT64 AND VersionMsi &lt; v4.5"/>
      <MsuPackage
          Cache="no"
          Compressed="no"
          Permanent="yes"
          Vital="yes"
          KB="KB942288"
          SourceFile="redist\Windows6.0-KB942288-v2-x64.msu"
          DownloadUrl="http://download.microsoft.com/download/2/6/1/261fca42-22c0-4f91-9451-0e0f2e08356d/Windows6.0-KB942288-v2-x64.msu"
          InstallCondition="VersionNT=v6.0 AND VersionNT64 AND VersionMsi &lt; v4.5"/>

      <!-- VS2015 Redistributable. -->
      <ExePackage Id="vcredist"
          DisplayName="$(var.VCRedistName)"
          Cache="no"
          Compressed="no"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="$(var.VCRedistFile)"
          DownloadUrl="$(var.VCRedistURL)"
          InstallCommand="/quiet /norestart"
          DetectCondition="vcredist AND (vcredist &gt;= &quot;14.0.23026&quot;)">
      </ExePackage>

      <!-- Main installer. -->
      <MsiPackage SourceFile="$(var.powertabeditor.TargetPath)" Id="PowerTabEditorSetup"
                  Vital="yes" ForcePerMachine="yes" Compressed="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>