<?xml version="1.0" encoding="UTF-8"?>
<?include common.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="405" Compressed="yes" />
    <MediaTemplate EmbedCab="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="Complete" Level="1">
      <ComponentGroupRef Id="Binaries" />
      <ComponentGroupRef Id="PlatformBinaries" />
      <ComponentGroupRef Id="DataFiles" />
    </Feature>

    <Icon Id="powertabeditor.ico" SourceFile="$(var.SourceDir)/icons/app_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="powertabeditor.ico" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="PowerTab" Name="$(var.ProductShortName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
            <Directory Id="PlatformBinariesDir" Name="platforms" />
            <Directory Id="DataDir" Name="data" />
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductShortName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!-- Main executable and required dlls (e.g. Qt and Boost) -->
    <ComponentGroup Id="Binaries" Directory="INSTALLFOLDER">
      <Component Id="Executable" Guid="2DA29761-7F65-42FF-ADF6-374A67C80C8C">
        <File Source="$(var.BinDir)/powertabeditor.exe" KeyPath="yes" Checksum="yes" />

        <ProgId Id="PowerTabEditor.TabFile" Icon="powertabeditor.ico" IconIndex="0" Advertise="yes">
          <!-- File type associations -->
          <Extension Id="ptb" ContentType="audio/x-ptb">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
          <Extension Id="pt2" ContentType="audio/x-pt2">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
          <Extension Id="gpx" ContentType="audio/x-gtp">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
          <Extension Id="gp3" ContentType="audio/x-gtp">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
          <Extension Id="gp4" ContentType="audio/x-gtp">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
          <Extension Id="gp5" ContentType="audio/x-gtp">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
        </ProgId>
      </Component>
      
      <Component Id="Shortcut" Guid="1F707C20-0FEF-4681-AF1F-69D7E4D8F326">
        <Shortcut Id="PowerTabShortcut" Directory="ProgramMenuDir" Name="$(var.ProductName)" Icon="powertabeditor.ico" Target="[INSTALLFOLDER]powertabeditor.exe" />
        <RemoveFolder Id="ProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Power Tab\Power Tab Editor" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="boost_date_time" Guid="05160EB2-7942-4A0B-A4AA-C32DB3AA6748">
        <File Source="$(var.BinDir)/boost_date_time-vc140-mt-1_62.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="boost_filesystem" Guid="0A71DDED-B776-4126-A5E8-52C215B26363">
        <File Source="$(var.BinDir)/boost_filesystem-vc140-mt-1_62.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="boost_iostreams" Guid="A7802731-FD59-4171-8DF4-3CAA1DAC712F">
        <File Source="$(var.BinDir)/boost_iostreams-vc140-mt-1_62.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="boost_program_options" Guid="DB751E56-8457-4196-B84E-C86A5833FFCC">
        <File Source="$(var.BinDir)/boost_program_options-vc140-mt-1_62.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="boost_regex" Guid="BBCB2682-F592-4A83-A566-1AA476CE7A8E">
        <File Source="$(var.BinDir)/boost_regex-vc140-mt-1_62.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="boost_system" Guid="7C1E4D1C-C891-4C0D-BE70-9BF5B51F588E">
        <File Source="$(var.BinDir)/boost_system-vc140-mt-1_62.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="boost_zlib" Guid="BE6C26D7-8429-4F0F-ADC0-60DAAC1E88C7">
        <File Source="$(var.BinDir)/boost_zlib-vc140-mt-1_62.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Qt5Core" Guid="C12EB9A4-E465-4738-BD49-898C4E843A8D">
        <File Source="$(var.BinDir)/Qt5Core.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Qt5Gui" Guid="FE76E4D8-E4E2-4CC8-B27F-E4D5C6EE718F">
        <File Source="$(var.BinDir)/Qt5Gui.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Qt5Widgets" Guid="00FBE86A-91AA-4E90-A99F-9C7CE76F1874">
        <File Source="$(var.BinDir)/Qt5Widgets.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Qt5Network" Guid="008AD676-89C6-4FEC-9233-B03F26291BF5">
        <File Source="$(var.BinDir)/Qt5Network.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Qt5PrintSupport" Guid="D5DC1F60-3396-445F-A4AA-70ACF0E26F8D">
        <File Source="$(var.BinDir)/Qt5PrintSupport.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>

    <!-- Qt Plugins. -->
    <ComponentGroup Id="PlatformBinaries" Directory="PlatformBinariesDir">
      <Component Guid="8DB2373E-9319-475E-897E-47F2BE4CCA30">
        <File Source="$(var.BinDir)/platforms/qwindows.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    
    <!-- Data files -->
    <ComponentGroup Id="DataFiles" Directory="DataDir">
      <Component Guid="5C770CE4-AF29-447F-8CD5-7F997837CE5C">
        <File Source="$(var.SourceDir)/data/tunings.json" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
