[submodule "external/Catch"]
	path = external/Catch
	url = git://github.com/philsquared/Catch.git
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = git://github.com/powertab/rtmidi.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = git://github.com/miloyip/rapidjson.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = git://github.com/zeux/pugixml.git
[submodule "external/withershins"]
	path = external/withershins
	url = git://github.com/cameronwhite/withershins.git
